:root{
    --black: #000100ff;
    --cadet-blue-crayola: #a1a6b4ff;
    --light-blue: #94c5ccff;
    --beau-blue: #b4d2e7ff;
    --cultured: #f8f8f8ff;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

 /* Convertimos 1rem a 10 px*/ 

.Titulo {
    text-align: center;
    font-size: 3.8rem;
    
    font-weight: 200;
}

.Titulo span{
    font-size: 2rem;
}