:root{
    --obscuro: #000100ff;
    --gris: #a1a6b4ff;
    --primario: #94c5ccff;
    --secundario: #b4d2e7ff;
    --blanco: #f8f8f8ff;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

 /* Convertimos 1rem a 10 px*/ 

.Titulo {
    text-align: center;
    font-size: 3.8rem;
    
    font-weight: 200;
}

.Titulo span{
    font-size: 2rem;
}  

.navegacion-principal {
    
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--obscuro);
}
.nav-bg{
    background-color: var(--secundario);

} 
.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}


@media (max-width: 768px){
    .navegacion-principal {
        flex-direction: column;
    }
}