:root{
    --obscuro: #000100ff;
    --gris: #a1a6b4ff;
    --primario: #94c5ccff;
    --secundario: #b4d2e7ff;
    --blanco: #f8f8f8ff;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

 /* Convertimos 1rem a 10 px*/ 

.Titulo {
    text-align: center;
    font-size: 3.8rem;
    
    font-weight: 200;
}

.Titulo span{
    font-size: 2rem;
}  

.navegacion-principal a{

    background-color: var(--primario);
}
.nav-bg{
    background-color: var(--secundario);
}
.contenedor{
    width: 120rem;
    margin: 0 auto;

}